<div ng-controller="FrontendTypesController">

	<h2>Existing frontend types</h2>

	<div align="right">
	
		<a ui-sref="builderCreate" class="md-button md-raised md-primary">Create</a>
		
		<a ui-sref="builderDelete" class="md-button md-raised md-primary">Delete</a>

	</div>

	<md-content layout="column" flex>

      <md-card>
      
		<md-toolbar class="md-table-toolbar md-default">
		  <div class="md-toolbar-tools">
		    <span>Existing frontend types</span>
		  </div>
		</md-toolbar>
		  
		<md-table-container>
		  <table md-table md-row-select multiple ng-model="selected" md-progress="promise">
		    <thead md-head md-order="frontendType.eventHandlerFrontendType">
		      <tr md-row>
		        <th align="left" style="padding-left: 25px">Type</th>
		        <th align="left">Image</th>
		        <th align="left">Comment</th>
		      </tr>
		    </thead>
		    <tbody md-body>
		      <tr md-row md-select="frontendType" md-select-id="eventHandlerBuilderName" md-auto-select ng-repeat="frontendType in frontendTypes">
		        <td md-cell>{{ frontendType.eventHandlerFrontendType }}</td>
		        <td md-cell>{{ frontendType.eventHandlerFrontendTypeURL }}</td>
		        <td md-cell>{{ frontendType.comment }}</td>
		      </tr>
		    </tbody>
		  </table>
		</md-table-container>  

	  </md-card>
	
	</md-content>
</div>